.row {
    height: 100%;
    width: 90%;
    margin: auto !important;
    overflow: auto;
}

div.notepad img {
    position: fixed;
    right: 7%;
    top: 90%;
}

div.yoba img {
    width: 320px;
    height: 240px;
}

.custom-cursor {
   cursor: url('../img/custom/cursor.png'), auto;
}

.maliy-yoba {
    background: url('../img/custom/maliy-yoba.png');
    width: 18px;
    height: 18px;
}

.maliy-yoba:hover {
    background: url('../img/custom/tolsto.jpg');
    width: 200px;
    height: 200px;
}

.funny-pics-item {
	margin-top: 50px;
}

.funny-pics-subitem {
	margin-top: 20px;
}